html {
    min-height: 100%; }
  
  body {
    min-height: 100%;
    background-image: url("groupoBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }